{
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
