---
import { getSession } from "auth-astro/server";
import Layout from "../layouts/Layout.astro";
const session = await getSession(Astro.request);
if (session) {
  return Astro.redirect("/");
}
---

<Layout>
  <div class="max-w-[60rem] mx-auto w-full py-16">
    <button id="login-gh" class="btn btn-primary w-full my-2"
      >Login Github</button
    >
  </div>

  <script>
    const { signIn, signOut } = await import("auth-astro/client");
    document.querySelector("#login-gh").onclick = () => signIn("github", {});
  </script>
</Layout>
