---
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";
const session = await getSession(Astro.request);
if (session) {
  return Astro.redirect("/");
}
---

<Layout title="Login">
  <div class="max-w-[60rem] mx-auto w-full py-16">
    <button id="login-gh" class="btn btn-primary w-full my-2"
      >Login Github</button
    >
     <button id="login-dc" class="btn btn-primary w-full my-2"
      >Login Discord</button
    >


    <form class="my-4" id="login-rs">
      <input type="email" required class="input input-primary w-full" placeholder="Email">
          <button  class="btn btn-primary w-full my-2" type="submit"
      >Login Email</button
    >
    </form>
    <div id="trouble" class="text-center hidden">
      Trouble Logging in? try clearing your cookies
    </div>
  </div>

  <script src="@/lib/login.ts"></script>
</Layout>
