---
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";
import { Discord, Github } from "@/components/icons";

const session = await getSession(Astro.request);
if (session) {
  return Astro.redirect("/");
}
---

<Layout title="Login">
  <div class="card card-compact max-w-[28rem] bg-base-200 shadow-xl max-w-96 m-auto w-full p-10">
    <img class="flex mx-auto w-20 h-20 mb-3" src="/Logo.png" alt="dankdeck-logo"/>
    <h1 class="text-2xl leading-10 font-bold text-center">Welcome to Dank Deck!</h1>
    <div class="text-center mb-2">
      Enter your email or use Github or Discord to login.
    </div>
    <div>
      <form class="my-4" id="login-rs">
        <label class="block mb-2" for="email">Email</label>
        <input id="email" type="email" required class="input input-primary w-full" placeholder="Email">
        <button class="btn btn-primary w-full mt-4 mb-2" type="submit">
          <span class="loading loading-spinner loading-sm hidden"></span>
          Login
        </button>
      </form>
      <div class="divider">OR</div>
      <button id="login-gh" class="btn btn-neutral w-full my-2">
        <Github width="1.5rem" height="1.5rem" />
        Continue with Github
      </button>
      <button id="login-dc" class="btn btn-neutral w-full my-2">
        <Discord width="1.5rem" height="1.5rem" />
        Continue with Discord
      </button>
    </div>
    <div id="trouble" class="text-center hidden mt-4">
      Trouble Logging in? Try clearing your cookies.
    </div>
  </div>
  <script src="@/lib/login.ts"></script>
</Layout>