---
import { getSession } from "auth-astro/server";
import App from "../components/MarketPlace.svelte";
import Header from "../components/Header.svelte";
import { ViewTransitions, fade } from "astro:transitions";
const { session } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>Astro</title>
  </head>
  <body
    class="w-screen min-h-screen flex flex-col"
    transition:animate={fade({ duration: "0.1s" })}
  >
    <Header client:idle session={session} />
    <slot />
  </body>
</html>
